.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  margin-bottom: 30px;
}

#edamam-badge {
  float: right;
}

button {
  cursor: pointer;
  font-weight: 700;
  height: 2rem;
  background: rgb(74, 15, 114);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
