.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
  background: rgb(74, 15, 114);
  border: none;
  border-radius: 5px;
  color: white;
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 760px) {
  .badge {
    display: none;
  }
}
