.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.search-text {
  font-weight: 500;
}

.search-form {
  min-height: 15vh;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 60%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.search-button {
  background: rgb(74, 15, 114);
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 5px;
  width: 4rem;
  height: 2.3rem;
}

@media (min-width: 960px) {
  .search-container {
    margin-top: 0px;
  }
}
