.main {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.div {
  font-weight: 500;
}

.form {
  min-height: 15vh;
  display: flex;
  align-items: center;
}

.input {
  height: 2.5rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: black;
}

button {
  background: rgb(74, 15, 114);
  color: aliceblue;
  border-radius: 5px;
  color: white;
  margin-left: 1.5rem;
  width: 5rem;
  height: 3rem;
  border: 1px white;
  font-size: large;
  cursor: pointer;
}

@media (min-width: 840px) {
  .main {
    margin-top: 0px;
  }
  .input {
    width: 75%;
  }
}
