.single-recipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
  margin: 0px 50px;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-btn {
  cursor: pointer;
  background: rgb(74, 15, 114);
  border: none;
  border-radius: 5px;
  color: white;
  width: 4rem;
  height: 3rem;
  position: absolute;
  top: 15px;
  left: 15px;
}
